@import url('./pages/home.css');
@import url('./pages/bookEvents.css');

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

nav {
  display: flex;
  background: black;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding: 0rem 10rem;
}

body {
  background-color: blanchedalmond;
}

main {
  padding: 0rem 10rem;
}

ul {
  list-style-type: none;
}

#logo {
  font-family: 'Playfair Display', serif;
  color: yellow;
  font-size: x-large;
}

#nav-links {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

#nav-links > a {
  font-family: 'Playfair Display', serif;
  color: white;
  font-size: small;
}
