#main-about-container {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
}

#main-about-container > img {
  width: 40%;
  height: 40%;
}

#about-text {
  width: 40%;
}

#about-text > p {
  margin-top: 3rem;
}
