li > img {
  width: 25%;
  height: 25%;
}

li > div {
  width: 50%;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

li > div > button {
  font-size: large;
  color: white;
  background: black;
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
}
