#main-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

#calendar-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 35rem;
}

#calendar-container > h1 {
  font-size: 3rem;
}

#calendar-container > ul {
  font-size: 2rem;

  li {
    margin: 1rem 0rem;
  }
}

#main-container > img {
  width: 40%;
  height: 40%;
}

#book-now-button {
  font-size: large;
  color: white;
  background: black;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
}

#calendar-container > ul > li {
  font-size: 1.5rem;
}
